.btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    &:focus{
        outline: none;
    }
}

.btn-primary{
    background-color: $primary;
    border-radius: 2px;

    &:disabled{
        background-color: lighten($color: $primary, $amount: 15 );
    }
    
    &:hover{
        color: darken( $color: $primary, $amount: 20);
    }
}

.btn-danger{
    background-color: red;

    transition: background-color .3s ease;

    &:hover{
        background-color: darken($color: red, $amount: 10);
    }
}

.btn-primary-logout{
    background-color: $primary;
    border-radius: 2px;
    align-self: flex-end;

    &:hover{
        color: darken( $color: $primary, $amount: 20);
    }
}

.btn-block{
    width: 100%;
}



